{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_solaissits/setting_role_actions

    Template to render a role action setting.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id unique id
    * name Setting name
    * courses List of course actions
    * modules List of module actions

    Example context (json):
    {
        "id": "id",
        "name": "roleaction_1",
        "courses": [
            {
                "value": "0",
                "name": "Unenroll",
                "selected": "1"
            }
        ],
        "modules": [
            {
                "value": "0",
                "name": "Unenroll",
                "selected": "0"
            }
        ]
    }
}}
<div class="form-role_actions">
    <div class="form-inline text-ltr">
        <table class="table table-responsive">
            <tr>
                <th>
                    <label for="{{id}}course">{{#str}} course , enrol_solaissits {{/str}}</label>
                </th>
                <td>
                    <select id="{{id}}course" name="{{name}}[course]" class="custom-select" {{#readonly}}disabled{{/readonly}}>
                        {{#courses}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/courses}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="{{id}}module">{{#str}} module, enrol_solaissits {{/str}}</label>
                </th>
                <td>
                    <select id="{{id}}module" name="{{name}}[module]" class="custom-select" {{#readonly}}disabled{{/readonly}}>
                        {{#modules}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/modules}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>